
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb

/web/.DS_Store
/web/node_modules
/web/build
/web/.svelte-kit
/web/package
/web/.env
/web/.env.*
/web/!.env.example
/web/vite.config.js.timestamp-*
/web/vite.config.ts.timestamp-*
